#header{
	margin-top:20px;
	.header{
		width:100%;
	}
	#logo{
		background:url("../images/osiLogo.jpg") no-repeat center;
		width:100px;
		height:100px;
	}
	.recruit{
		text-align:center;
		height:100px;
		font-size:40px;
	}
	.welcome-text{
		text-align:right;
		background-color:rgb(7, 78, 134);
		color:white;
		height:30px;
	}
	.recruit{
		text-align:center;
		height:100px;
		font-size:40px;
	}
}
.content-section{
	margin-top:20px;
}